<h1 mat-dialog-title>Job</h1>

<div mat-dialog-content>
    <form [formGroup]="FormGroup" class="example-form">
        <p>
            <mat-form-field appearance="outline" class="full-width-field">
                <mat-label>Company Name</mat-label>
                <input matInput formControlName="companyName">
                <mat-error *ngIf="checkError('companyName', 'required')">company name is required</mat-error>
                <mat-error *ngIf="checkError('companyName', 'minlength')">company name should be more than 5 characters
                </mat-error>
                <mat-error *ngIf="checkError('companyName', 'maxlength')">company name should be less than 20 characters
                </mat-error>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="outline" class="full-width-field">
                <mat-label>Job Title</mat-label>
                <input matInput formControlName="jobTitle">
                <mat-error *ngIf="checkError('jobTitle', 'required')">Job Title is required</mat-error>
                <mat-error *ngIf="checkError('jobTitle', 'maxlength')">Job Title should be less than 200 characters
                </mat-error>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="outline" class="full-width-field">
                <mat-label>Job Description</mat-label>
                <textarea matInput  formControlName="jobDescription"></textarea>
                      <mat-error *ngIf="checkError('jobDescription', 'required')">Job Description is required</mat-error>
                      <mat-error *ngIf="checkError('jobDescription', 'maxlength')">Job Description should be less than 200 characters</mat-error>
                </mat-form-field>
            </p>      
      </form>
</div>
<div mat-dialog-actions class="float-right">
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button color="primary" [disabled]="!FormGroup.valid" (click)="onSubmit()" mat-raised-button>Submit</button>

</div>