<div class="p-4">
    <div class="card mb-3">
        <div class="card-body ">
            <h5 class="card-title">Update Profile</h5>
            <div class="jobList">
                <form [formGroup]="form">
                    <div class="row">
                        <div class="form-group col">
                            <label for="email">Email</label>
                            <input type="text" [disabled]="'true'" formControlName="email" class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                <div *ngIf="f.email.errors.required">Email is required</div>
                            </div>
                        </div>
                        <!-- <div class="form-group col">
                            <label for="password">Password</label>
                            <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                <div *ngIf="f.password.errors.required">Password is required</div>
                            </div>
                        </div> -->
                    </div>
                    <div class="row">
                        <div class="form-group col">
                            <label for="name">Name</label>
                            <input type="text" formControlName="name" class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
                            <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                                <div *ngIf="f.name.errors.required">Name is required</div>
                            </div>
                        </div>

                        <div class="form-group col">
                            <label for="mobile">Mobile</label>
                            <input type="number" mask="(000) 000-000" formControlName="mobile" class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && f.mobile.errors }" />
                            <div *ngIf="submitted && f.mobile.errors" class="invalid-feedback">
                                <div *ngIf="f.mobile.errors.required">Mobile is required</div>
                                <div *ngIf="f.mobile.errors?.pattern">Mobile number is not 10 digit</div>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-primary mb-2" (click)="addExp()">Add Work Exprience</button>

                    <!-- <button type="button" (click)="addExp()">Add</button> -->

                    <div formArrayName="workExp">
                        <div *ngFor="let skill of workExp.controls; let i=index" class="workexp">
                            <div [formGroupName]="i">
                                <div class="row">
                                    <div class="form-group col">
                                        <label for="companyName">CompanyName</label>
                                        <input type="text" formControlName="companyName" class="form-control"
                                            [ngClass]="{ 'is-invalid': submitted && f.companyName.errors }" />
                                        <div *ngIf="submitted && f.companyName.errors" class="invalid-feedback">
                                            <div *ngIf="f.companyName.errors.required">Company Name is required</div>
                                        </div>
                                    </div>

                                    <div class="form-group col">
                                        <label for="jobTitle">Job Title</label>
                                        <input type="text" formControlName="jobTitle"
                                            class="form-control"
                                            [ngClass]="{ 'is-invalid': submitted && f.jobTitle.errors }" />
                                        <div *ngIf="submitted && f.jobTitle.errors" class="invalid-feedback">
                                            <div *ngIf="f.jobTitle.errors.required">Job Title is required</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="skills">Skills</label>
                                    <textarea type="text" formControlName="skills"
                                        class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && f.skills.errors }"></textarea>
                                    <div *ngIf="submitted && f.skills.errors" class="invalid-feedback">
                                        <div *ngIf="f.skills.errors.required">Job Title is required</div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col">
                                        <label for="startDate">Start Date</label>
                                        <div class="input-group">
                                          <input class="form-control" placeholder="yyyy-mm-dd"
                                                 name="dp" formControlName="startDate" ngbDatepicker [dayTemplate]="customDay" [markDisabled]="isDisabled"  #d="ngbDatepicker">
                                          <div class="input-group-append">
                                            <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
                                                <i class="bi bi-calendar-week"></i>
                                            </button>
                                          </div>
                                        </div>
                                      </div>

                                      <div class="form-group col">
                                        <label for="endDate">End Date</label>
                                        <div class="input-group">
                                          <input class="form-control" placeholder="yyyy-mm-dd"
                                                 name="dp" formControlName="endDate" ngbDatepicker [dayTemplate]="customDay" [markDisabled]="isDisabled"  #d2="ngbDatepicker">
                                          <div class="input-group-append">
                                            <button class="btn btn-outline-secondary" (click)="d2.toggle()" type="button">
                                                <i class="bi bi-calendar-week"></i>
                                            </button>
                                          </div>
                                        </div>
                                      </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col">
                                        <label for="industry">Industry</label>
                                        <select class="form-control" formControlName="industry" aria-label=".form-select-lg example">
                                            <option selected>Select Industry</option>
                                            <option value="IT">IT</option>
                                            <option value="Hospitality">Hospitality</option>
                                            <option value="Engineering">Engineering</option>
                                            <option value="Others">Others</option>
                                          </select>
                                    </div>

                                    <div class="form-group col">
                                        <label for="education">Education</label>
                                        <select class="form-control" formControlName="education" aria-label=".form-select-lg example">
                                            <option selected>Select Education</option>
                                            <option value="Highest level">Highest level</option>
                                            <option value="Hospitality">Hospitality</option>
                                            <option value="Engineering">Engineering</option>
                                            <option value="Others">Others</option>
                                          </select>
                                    </div>
                                </div>


                                  <ng-template #customDay let-date="date" let-currentMonth="currentMonth" let-selected="selected" let-disabled="disabled" let-focused="focused">
                                    <span [ngClass]="myClass(date)"  [class.focused]="focused"
                                          [class.bg-primary]="selected" [class.hidden]="date.month !== currentMonth" [class.text-muted]="disabled">
                                      {{ date.day }}
                                    </span>
                                  </ng-template>


                                <button class="btn btn-danger" (click)="removeExp(i)">Remove</button>
                            </div>
                        </div>
                    </div>


                    <div class="form-group mt-4">
                        <button [disabled]="loading" class="btn btn-primary" (click)="onSubmit()">
                            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                            Update
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>